@model IEnumerable<ProyectoClinica.Models.Diagnosis>

@{
    ViewData["Title"] = "Index";

    var id = @ViewContext.RouteData.Values["id"];

}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:black !important">
    <a class="navbar-brand" href="#" style="color:aliceblue">Clinica Medica <i class="fas fa-stethoscope"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0" style="margin-left:800px">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">


                    <a class="btn btn-outline-light" asp-action="" asp-controller="">Salir <span class="sr-only">(current)</span><i class="fas fa-sign-out-alt"></i></a>

                </li>

            </ul>
        </form>
    </div>
</nav>

<h2 h2 style="margin-top:20px; text-align: center; color: aliceblue; font-family: 'Century Gothic' ">Diagnosticos del Paciente <i class="fas fa-clinic-medical"></i></h2>
<hr />

<body style="background-color:gray">


    <div class="row">

        <a class="btn btn-outline-light" asp-action="Patients" asp-controller="Diagnosis" style="margin-left:20px">Regresar</a>
    </div>
    <br />

    <div class="row">
        <table class="table table table-striped table-dark table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Symptoms)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exams)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prescription)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    @if (item.PacienteId.ToString() == id.ToString())
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Symptoms)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exams)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prescription)
                        </td>
                        <td>
                            <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.IdDiagnosis">Editar <i class="fas fa-edit"></i></a> |
                            <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.IdDiagnosis">Detalles <i class="fas fa-info-circle"></i></a> |
                            <a class="btn btn-outline-light" asp-action="Delete" asp-route-id="@item.IdDiagnosis">Eliminar <i class="fas fa-trash-alt"></i></a>
                        </td>

                    }


                </tr>

                }
            </tbody>
            

        </table>
        </div>
        
</body>