@model IEnumerable<ProyectoClinica.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}



<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:black !important">
    <a class="navbar-brand" href="#" style="color:aliceblue">Clinica Medica <i class="fas fa-stethoscope"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0" style="margin-left:800px">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-outline-light" asp-action="" asp-controller="">Salir <span class="sr-only">(current)</span><i class="fas fa-sign-out-alt"></i></a>
                </li>

            </ul>
        </form>
    </div>
</nav>
<h2 h2 style="margin-top:20px; text-align: center; color: aliceblue; font-family: 'Century Gothic' ">Citas del Paciente <i class="fas fa-clinic-medical"></i></h2>
<hr />

<body style="background-color:grey">
    <div>
        <a class="btn btn-outline-light" asp-action="MenuDoctor" asp-controller="Diagnosis">Regresar</a>
    </div>
    <br />
    <table class="table table table-striped table-dark table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateAppo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patient.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patient.LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAppo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.LastName)
                    </td>

                </tr>
            }
        </tbody>
    </table>

</body>
