@model ProyectoClinica.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<meta charset="utf-8" />

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:black !important">
    <a class="navbar-brand" href="#" style="color:aliceblue">Clinica Medica <i class="fas fa-stethoscope"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-2 my-lg-0" style="margin-left:800px">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-outline-light" asp-action="Login" asp-controller="Logins">Salir <span class="sr-only">(current)</span><i class="fas fa-sign-out-alt"></i></a>
                </li>

            </ul>
        </form>
    </div>
</nav>
<h2 style="margin-top:20px; text-align: center; color: aliceblue; font-family: 'Century Gothic' ">Detalle Cita <i class="fas fa-clinic-medical"></i></h2>
<h3 style="margin-top:20px; text-align: center; color: aliceblue; font-family: 'Century Gothic' ">¿Esta Seguro que desea eliminar esta Cita?</h3>
<hr />

<body style="background-color:gray">
    <div class="container">

        <dl class="row" style="margin-left:350px">
            <dt class="col-sm-3" style="font-size:20px">
                @Html.DisplayNameFor(model => model.DateAppo)
            </dt>
            <dd class="col-sm-9" style="font-size:20px">
                @Html.DisplayFor(model => model.DateAppo)
            </dd>
            <dt class="col-sm-3" style="font-size:20px">
                @Html.DisplayNameFor(model => model.Patient.Name)
            </dt>
            <dd class="col-sm-9" style="font-size:20px">
                @Html.DisplayFor(model => model.Patient.Name)
            </dd>
            <dt class="col-sm-3" style="font-size:20px">
                @Html.DisplayNameFor(model => model.Patient.LastName)
            </dt>
            <dd class="col-sm-9" style="font-size:20px">
                @Html.DisplayFor(model => model.Patient.LastName)
            </dd>
        </dl>

        <form asp-action="Delete" style="margin-left:440px">
            <input type="hidden" asp-for="IdAppointment" />
            <input class="btn btn-outline-light" type="submit" value="Eliminar" /> 
            <a class="btn btn-outline-light" asp-action="Index" asp-route-id="@Model.PacienteId">Regresar</a>
        </form>
    </div>
</body>

