@model IEnumerable<ProyectoClinica.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    var id = @ViewContext.RouteData.Values["id"];
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAppo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.PacienteId.ToString() == id.ToString())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DateAppo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdAppointment">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdAppointment">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdAppointment">Delete</a>
                </td>
            }

        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Patients">Back to List</a>
</div>
